/* CSS UNIVERSAL SELECTOR FOR THE HOME PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* For Testing Purposes */
body {
  background-image: linear-gradient(to right, #4b4b51, #ff00cc);
}
/* header div which will be fixed  */
.header-div {
  display: flex;
  height: 200;
  background-color: aquamarine;
  margin-top: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

/* Time Div taking flex 1 */
.time-div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 30px;
  background-color: green;
}
#currentTime {
  font-size: 20px;
}

/* Navigation Div flex 3 */
.nav-div {
  flex: 3;
  display: flex;
  background-color: green;
  justify-content: right;
  padding-right: 30px;
  text-align: center;
}
/* Remove the Style on the unorders list */
ul {
  list-style-type: none;
  overflow: hidden;
}
/* Display the Navigation bar Horizontally */
ul li {
  float: left;
}
/* Links Properties */
ul li a {
  font-size: 40;
  font-family: "Times New Roman", Times, serif;
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
/* Hover Effects On Vavigation Links */
ul li a:hover {
  color: black;
  border-bottom: 3px solid rgb(5, 28, 237);
}
/* Active effect on the navigation links */
ul li a:active {
  color: aqua;
  border-bottom: 3px solid rgba(9, 25, 148, 0.332);
}

/* Shows That Home is always Active */
ul li a.blog {
  border-bottom: 3px solid rgb(5, 28, 237);
}
/* Main Body Div */
.main-div {
  padding-top: 55px;
}

/* Post_1 */
.post {
  display: flex;
}

.post-details {
  flex: 4;
  border: 3px solid black;
}
.post-details p {
  margin-top: 30px;
  margin-left: 20px;
}
.post-image {
  flex: 1;
}
.click {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.news {
  margin-left: 20px;
  width: 100px;
  border: none;
  border-radius: 0;
  height: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}
.like {
  width: 100px;
  border: none;
  border-radius: 0;
  height: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}
.dislike {
  width: 100px;
  border: none;
  border-radius: 0;
  height: 30px;
  cursor: pointer;
}

.read {
  margin-right: 20px;
  width: 150px;
  border: none;
  border-radius: 0;
  height: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

/* footer Div */
.footer-div {
  background-color: rgb(43, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 5px;
  color: white;
  margin-bottom: 10px;
}
.footer-div p {
  color: white;
}
.flivian {
  color: #ff00cc;
}
